* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  width: 100%;
  padding: 0.8rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: #e5e5e5;
}

main {
  width: 100%;
  margin: 6.4rem 0 0 0;
}

h1 {
  font-family: "Anek Telugu", sans-serif;
  font-weight: 600;
  font-size: 9.4rem;
  width: 100%;
  letter-spacing: -1px;
  line-height: 1;
}

h2 {
  font-family: "Anek Telugu", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  width: 100%;
}

h3 {
  font-family: "Anek Telugu", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  width: 100%;
}

h4 {
  font-family: "Anek Telugu", sans-serif;
  font-weight: 500;
  font-size: 3.2rem;
  width: 100%;
  letter-spacing: 0.25px;
}

h5 {
  font-family: "Anek Telugu", sans-serif;
  font-weight: 500;
  font-size: 2.8rem;
  width: 100%;
}

h6 {
  font-family: "Anek Telugu", sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  width: 100%;
}

a {
  text-decoration: none;
  color: #6962f7;
  font-weight: 500;
  transition: color 0.25s ease;
}
a:hover {
  color: #0a2540;
}

.subtitle {
  color: #6962f7;
  font-family: "Anek Telugu", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.6rem;
}

.subtitle2 {
  color: #00d4ff;
  font-family: "Anek Telugu", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.6rem;
}

p {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 400;
  margin: 1.6rem 0;
}

.secondary-text {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #adbedc;
  letter-spacing: 0.25rem;
}

.primary-button {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.125rem;
  font-weight: bold;
  border-radius: 20px;
  background-color: #0a2540;
  color: #fff;
  border: none;
  padding: 0.8rem 1.6rem;
  transition: all 0.25s ease;
}
.primary-button:hover {
  background-color: #6d7a88;
  cursor: pointer;
}

.secondary-button {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.125rem;
  font-weight: bold;
  border-radius: 20px;
  background-color: transparent;
  color: #0a2540;
  border: none;
  transition: all 0.25s ease;
}
.secondary-button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.section-container {
  width: 100%;
  max-width: 114.4rem;
}

.two-column {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.two-column > .col-left {
  width: 50%;
  padding: 0 1.6rem 0 0;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.two-column > .col-right {
  width: 50%;
  padding: 0 0 0 1.6rem;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.with-icon {
  display: flex;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.8rem 1.6rem 0.8rem 0;
}
.card img {
  height: 5rem;
  margin: 0 0 0.8rem;
}
.card h3 {
  font-family: "Anek Telugu", sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 114.4rem;
  padding: 0 1.6rem;
  margin: 0 0 6.4rem 0;
}
.navbar .nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.navbar .nav-links a {
  color: #fff;
  margin: 0 1.6rem;
  font-weight: bold;
}
.navbar .nav-links a:hover {
  text-decoration: underline;
}
.navbar .navbar-btn {
  background: rgba(250, 250, 250, 0.25);
}
.navbar .navbar-btn:hover {
  background: rgba(250, 250, 250, 0.5);
}

#gradient-canvas {
  width: 200%;
  height: 97rem;
  transform: rotate(-10deg);
  position: absolute;
  top: -65rem;
  left: -50%;
  z-index: -1;
  --gradient-color-1: #ef008f;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #7038ff;
  --gradient-color-4: #ffba27;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero p {
  max-width: 48rem;
}
.hero .btn-container {
  display: flex;
  margin: 1.6rem 0;
}
.hero .btn-container button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .btn-container button:nth-of-type(2) {
  color: #700fff;
  margin: 0 0 0 1.6rem;
}
.hero .hero-phone {
  height: 56.4rem;
  align-items: flex-end;
}
.hero .hero-phone img {
  height: 62.8rem;
  transform: translate(32px, -32px);
}

.partner-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.partner-section .partners-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 6.4rem 0;
  column-gap: 1.6rem;
  row-gap: 3.2rem;
}
.partner-section .partners-grid img {
  width: 100%;
  place-self: center;
}

.unified-section {
  padding: 6.4rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #d9dfe0;
}
.unified-section h2 {
  width: 50%;
  margin-bottom: 1.6rem;
}
.unified-section .primary-button {
  background-color: #6962f7;
  margin: 1.6rem 0;
}
.unified-section .primary-button:hover {
  background-color: #0a2540;
}

.graphic-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #d9dfe0;
}
.graphic-section .graphic-grid {
  display: grid;
  grid-template-areas: "card slack slack" "phone slack slack" "phone dash dash";
  grid-gap: 3.2rem;
  padding: 3.2rem 0;
}
.graphic-section .graphic-grid img {
  width: 100%;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 7;
}
.graphic-section .graphic-grid #credit-card {
  grid-area: card;
}
.graphic-section .graphic-grid #slack-invoice {
  grid-area: slack;
}
.graphic-section .graphic-grid #phone {
  grid-area: phone;
}
.graphic-section .graphic-grid #dash {
  grid-area: dash;
}

.integration-section {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  position: relative;
  z-index: 5;
  padding: 19.2rem 0;
}
.integration-section::after {
  content: "";
  width: 100%;
  background-color: #d9dfe0;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.integration-section::before {
  content: "";
  background-color: #0a2540;
  position: absolute;
  z-index: -1;
  height: 110rem;
  width: 100%;
  transform: skewY(-10deg);
  top: -3.2rem;
  left: 0;
}
.integration-section .card-container {
  display: flex;
  margin: 3.2rem 0;
}
.integration-section .card-container .card {
  width: 50%;
}
.integration-section .primary-button {
  background-color: #00d4ff;
  color: #0a2540;
  margin: 1.6rem 0 0 0;
}
.integration-section .primary-button:hover {
  background-color: #fff;
}
.integration-section .secondary-button {
  color: #00d4ff;
}
.integration-section #api-code {
  margin: 0 0 1.6rem 0;
}
.integration-section #api-code,
.integration-section #terminal-code {
  max-width: 47rem;
  border-radius: 20px;
}

.why-swipe-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 19.2rem 0;
}
.why-swipe-section .card-container {
  display: flex;
  margin: 3.2rem 0;
}
.why-swipe-section .card-container .card {
  width: 25%;
  padding: 0 0.8rem 0 0;
  margin: 0 1.6rem 0 0;
}
.why-swipe-section .card-container .card img {
  height: 3.5rem;
}
.why-swipe-section .card-container .card .secondary-text {
  color: #000;
  font-weight: 500;
}

.global-section {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  position: relative;
  padding: 19.2rem 0 0 0;
}
.global-section::before {
  content: "";
  width: 100%;
  height: 120rem;
  background-color: #0a2540;
  position: absolute;
  top: -3.2rem;
  left: 0;
  transform: skewY(-10deg);
  z-index: -1;
}
.global-section .card-container {
  display: flex;
  margin: 12.8rem 0;
}
.global-section .card-container .card {
  width: 25%;
  padding: 0 0.8rem 0 0;
  margin: 0 0.8rem 0 0;
}
.global-section .card-container .card h3 {
  border-left: 2px solid #00d4ff;
  padding: 0 0 0 0.8rem;
  line-height: 2.8rem;
}
.global-section a {
  color: #00d4ff;
}
.global-section a:hover {
  color: #fff;
}
.global-section .col-right #global {
  max-width: 84.4rem;
  opacity: 25%;
  position: absolute;
  top: 10%;
}

.virtual-event-section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 12.8rem 0;
  background-color: #e5e5e5;
  position: relative;
}
.virtual-event-section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: red;
  top: -3.2rem;
  left: 0;
  z-index: -1;
  background-color: #e5e5e5;
}
.virtual-event-section .primary-button {
  background-color: #6962f7;
  margin: 1.6rem 0 0 0;
}
.virtual-event-section .primary-button:hover {
  background-color: #0a2540;
}
.virtual-event-section .col-left {
  height: 44.6rem;
  padding: 0 6.4rem 0 0;
}
.virtual-event-section .swipe-sessions-card {
  width: 54rem;
  height: 44.6rem;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  overflow: hidden;
}
.virtual-event-section .swipe-sessions-card .card-top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.virtual-event-section .swipe-sessions-card .card-top img {
  z-index: 2;
  width: 35rem;
}
.virtual-event-section .swipe-sessions-card .card-top::before {
  background: linear-gradient(101.33deg, #08209a 0.76%, #6563ff, 33.33%, #36c5f0 76.92%, #83e2ff 96.96%);
  content: "";
  width: 100%;
  height: 150%;
  position: absolute;
  transform: skewY(-5deg);
  top: -40%;
  z-index: 1;
}
.virtual-event-section .swipe-sessions-card .card-top .avatars {
  position: absolute;
  z-index: 3;
  bottom: -7rem;
  left: 6.4rem;
}
.virtual-event-section .swipe-sessions-card .card-top .avatars img {
  width: 8rem;
}
.virtual-event-section .swipe-sessions-card .card-top .avatars img:nth-of-type(2) {
  position: absolute;
  left: 5.5rem;
}
.virtual-event-section .card-bottom {
  width: 100%;
  height: 50%;
  padding: 6.4rem;
}
.virtual-event-section .card-bottom .subtitle {
  margin: 1.6rem 0 0 0;
}
.virtual-event-section .card-bottom .secondary-text {
  color: #000;
  width: 50%;
  font-weight: 700;
}

.get-started-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 6.4rem 0;
  background-color: #e5e5e5;
}
.get-started-section .col-left {
  padding: 0 6.4rem 0 0;
}
.get-started-section .primary-button {
  background-color: #6962f7;
}
.get-started-section .card-container {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.get-started-section .card-container h3 {
  font-weight: 600;
}
.get-started-section .card-container .secondary-button {
  color: #700fff;
}
.get-started-section .card-container .secondary-text {
  color: #000;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #d9dfe0;
  padding: 6.4rem 0;
}
.footer .section-container {
  display: flex;
}
.footer .section-container img {
  max-width: 10.8rem;
  margin: 0 0 1.6rem 0;
}
.footer .section-container .icon-link {
  display: flex;
  align-items: center;
  margin: 0.8rem 0;
}
.footer .section-container .icon-link img {
  width: 2.4rem;
  padding: 0 0.8rem 0 0;
}
.footer .section-container .col {
  width: 25%;
}
.footer .section-container .col h3 {
  font-size: 2.2rem;
  font-weight: 700;
}
.footer .section-container .col ul {
  list-style: none;
}
.footer .section-container .col ul li {
  margin: 1.6rem 0;
}
.footer .section-container .col a {
  color: #000;
  font-weight: normal;
  font-weight: 500;
}
.footer .section-container .col a:hover {
  color: #700fff;
  text-decoration: underline;
}

@media only screen and (max-width: 1144px) {
  .section-container {
    padding: 0 1.6rem;
  }
}
@media only screen and (max-width: 850px) {
  .integration-section .col-left {
    width: 60%;
  }
  .integration-section .col-right {
    width: 40%;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 6.2rem;
    line-height: 1.2;
  }
  h2 {
    font-size: 3.4rem;
  }
  .unified-section h2 {
    width: 100%;
  }
  .integration-section .card-container {
    flex-direction: column;
  }
  .integration-section .card-container .card {
    width: 100%;
  }
  .why-swipe-section .card-container {
    flex-wrap: wrap;
  }
  .why-swipe-section .card-container .card {
    width: 50%;
    margin: 1.6rem 0;
  }
  .global-section .card-container {
    flex-wrap: wrap;
    margin: 6.4rem 0;
  }
  .global-section .card-container .card {
    width: 50%;
    margin: 1.6rem 0;
  }
  .get-started-section .two-column {
    align-items: center;
  }
  .get-started-section .two-column .col-right .card {
    width: 100%;
    margin: 3.2rem 0;
  }
}
@media only screen and (max-width: 550px) {
  .partner-section .partners-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .two-column {
    flex-direction: column;
  }
  .two-column .col-left {
    width: 100%;
  }
  .two-column .col-right {
    width: 100%;
    padding: 0;
  }
  .unified-section h2 {
    width: 100%;
  }
  html,
  body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
  }
  .integration-section .col-right {
    display: none;
  }
  .why-swipe-section .card-container .card {
    width: 100%;
    margin: 0.8rem 0;
  }
  .global-section .card-container .card {
    width: 100%;
    margin: 0.8rem 0;
  }
  .global-section .col-right #global {
    opacity: 10%;
  }
  .virtual-event-section .swipe-sessions-card {
    width: 100%;
    margin: 3.2rem 0;
  }
  .virtual-event-section .swipe-sessions-card .card-top {
    height: 40%;
  }
  .virtual-event-section .swipe-sessions-card .card-top img {
    width: 30rem;
  }
  .virtual-event-section .swipe-sessions-card .secondary-text {
    width: 100%;
  }
  .get-started-section .two-column {
    align-items: center;
  }
  .get-started-section .two-column .col-right {
    flex-wrap: wrap;
  }
  .get-started-section .two-column .col-right .card {
    width: 100%;
    margin: 3.2rem 0;
  }
  .footer .section-container {
    flex-wrap: wrap;
  }
  .footer .section-container .col {
    width: 50%;
    margin: 1.6rem 0;
  }
  .footer .section-container .col img {
    width: 7rem;
  }
  .footer .section-container .col .icon-link img {
    width: 3rem;
  }
  .footer .section-container .col a {
    font-size: 1.2rem;
  }
}