.graphic-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $bgLight;

  .graphic-grid {
    display: grid;
    grid-template-areas:
      "card slack slack"
      "phone slack slack"
      "phone dash dash";
    grid-gap: $spacingLg;
    padding: $spacingLg 0;

    img {
      width: 100%;
      box-shadow: $standardbShadows;
      position: relative;
      z-index: 7;
    }

    #credit-card {
      grid-area: card;
    }

    #slack-invoice {
      grid-area: slack;
    }

    #phone {
      grid-area: phone;
    }

    #dash {
      grid-area: dash;
    }
  }
}
