.integration-section {
  width: 100%;
  display: flex;
  justify-content: center;
  color: $textWhite;
  position: relative;
  z-index: 5;
  padding: calc($spacingXl) * 3 0;

  &::after {
    content: "";
    width: 100%;
    background-color: $bgLight;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }

  &::before {
    content: "";
    background-color: $primaryAccent;
    position: absolute;
    z-index: -1;
    height: 110rem;
    width: 100%;
    transform: skewY(-10deg);
    top: -3.2rem;
    left: 0;
  }

  .card-container {
    display: flex;
    margin: $spacingLg 0;

    .card {
      width: 50%;
    }
  }

  .primary-button {
    background-color: $blue1;
    color: $primaryAccent;
    margin: $spacingMd 0 0 0;
    &:hover {
      background-color: $bgWhite;
    }
  }

  .secondary-button {
    color: $blue1;
  }

  #api-code {
    margin: 0 0 $spacingMd 0;
  }

  #api-code,
  #terminal-code {
    max-width: 47rem;
    border-radius: 20px;
  }
}
