.unified-section {
  padding: $spacingXl 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $bgLight;

  h2 {
    width: 50%;
    margin-bottom: $spacingMd;
  }

  .primary-button {
    background-color: $purple1;
    margin: $spacingMd 0;

    &:hover {
      background-color: $primaryAccent;
    }
  }
}
