$textDark: #000;
$textWhite: #fff;
$textGrey: #adbedc;
$bodyFont: "Roboto", sans-serif;
$headingFont: "Anek Telugu", sans-serif;
$h1Size: 9.4rem;
$h2Size: 5rem;
$h3size: 4rem;
$h4size: 3.2rem;
$h5size: 2.8rem;
$h6size: 2.2rem;
$purple1: #6962f7;
$purple2: #700fff;
$blue1: #00d4ff;
$primaryAccent: #0a2540;
$bgWhite: #fff;
$bgLight: #f7f9fc;

// SPACING

$spacingSm: 0.8rem;
$spacingMd: 1.6rem;
$spacingLg: 3.2rem;
$spacingXl: 6.4rem;
