.virtual-event-section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: calc($spacingXl) * 2 0;
  background-color: $bggrey;

  .primary-button {
    background-color: $purple1;
    margin: $spacingMd 0 0 0;

    &:hover {
      background-color: $primaryAccent;
    }
  }

  .col-left {
    height: 44.6rem;
    padding: 0 $spacingXl 0 0;
  }

  .swipe-sessions-card {
    width: 54rem;
    height: 44.6rem;
    box-shadow: $standardbShadows;
    border-radius: 20px;
    overflow: hidden;

    .card-top {
      background-color: $purple1;
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      img {
        z-index: 2;
        width: 35rem;
      }

      &::before {
        background: $primaryGradient;
        content: "";
        width: 100%;
        height: 150%;
        position: absolute;
        transform: skewY(-5deg);
        top: -40%;
        z-index: 1;
      }

      .avatars {
        position: absolute;
        z-index: 3;

        bottom: -7rem;
        left: $spacingXl;

        img {
          width: 8rem;
          &:nth-of-type(2) {
            position: absolute;
            left: 5.5rem;
          }
        }
      }
    }
  }

  .card-bottom {
    width: 100%;
    height: 50%;
    padding: $spacingXl;

    .subtitle {
      margin: $spacingMd 0 0 0;
    }

    .secondary-text {
      color: $textDark;
      width: 50%;
      font-weight: 700;
    }
  }
}
